/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-syntax-highlight-code {
  border-radius: .3em;
  padding: 1em;
  box-shadow: 6px 6px 0 0 rgba(0,0,0,.2);
  margin: 2em auto !important;
}

@import 'prism.scss';
